body{
    font-family:Arial, Helvetica, sans-serif;
}

.row {
    float:left;
    width:100%;
    margin:auto;
    margin-top:30px;
    padding-left:12%;
}

#img {
    width:20%;
    float:left;
    margin:5%;
}

#textRight, #textLeft, #question{
    width:50%;
    float:left;
    margin:0%;
    text-align:left;
    line-height: 25px;
}

#textRight, #question {
    margin-left:5%;
}

#textLeft, #answer {
    margin-right:5%;
}

#faqQ, #faqA{
    width:50%;
    float:left;
    margin:0%;
    text-align:left;
    line-height: 25px;
    background-color:gray;
    padding:20px;
    border-radius:20px;
}

#questionTail{
    width:0px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid gray;
    margin-left:-35px;
}

#answerTail{
    width:0px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid gray;
    margin-left:0px;
}

#title {
    width:125px;
}

h1{
    border:2px solid gray;
    border-radius:10px;
    padding:10px 25px;
}

h2 {
    margin-top: 2%;
}

h3{
    font-size: 25px;
    float:left;
}

#speechtext{
    width:90%;
    float:right;
    text-align: justify;
    word-wrap:break-word;
    margin:5px 10px;
}

.title{
    padding-left:12%;
    border:2px solid gray;
    border-radius:20px;
}

.faq {
    margin:0px;
}