/**********************************
Main Body
***********************************/

/*body {}*/

#wrapper {
    max-width: 940px;
    margin: 0px;
    padding: 0;
}

a {
    text-decoration: none;
}

/**********************************
FONTS
***********************************/



/**********************************
HEADING
***********************************/

header {
    float: left;
    margin: 0 0 30px 0;
    width: 100%;
}

#logo {
    text-align: center;
    margin: 0;
}


/**********************************
GALLERY
***********************************/

#gallery {
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery li {
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: #f5f5f5;
    color: #bdc3c7;
}

.row {
    float:left;
    width:100%;
    margin:auto;
    padding:12%;
    padding-top:0%;
    
}

#img {
    width:20%;
    float:left;
    margin-left:10%;
}

#textbox{
    font-family:Arial, Helvetica, sans-serif;
    width:50%;
    float:left;
    margin-left:5%;
    margin-right:5%;
    text-align:left;
    line-height: 25px;
}

h2 {
    margin-top: 20px;
}

#textboxQ{
border:1px solid black;
}

.faq {
    margin:0px;
}
footer{
    display: block;
}
