/**********************************
Main Body
***********************************/

body {
    font-family: "Arial";
    background-color: #babca4;
    
}

#wrapper {
    max-width: 940px;
    margin: 0px;
    padding: 0;
}

a {
    text-decoration: none;
}

/**********************************
FONTS
***********************************/


/**********************************
HEADING
***********************************/

header{
    background-color:#729482;;
}



/**********************************
GALLERY
***********************************/
.teamNames{

    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.teamNames > div{
    float: left;
    list-style: none;
    margin-right: 10px;
    text-align: center;
    flex: 1 0 21%;
}
.name{
    color: #000;
}

.name:hover{
    color: #dcdcdc;
}

.profileImage{
    width: auto;
    height: auto;
    size: 20px;
    margin-left: auto;
    margin-right: auto;
}

nav {
    background: #c0c0a9;
}

/* links/logo */

a {
    color: #dcdcdc;
}

/* nav link */

nav a,
nav a:visited {
    color: #000;
}

nav a.selected,
nav a:hover {

    color: #426653;

}

footer{
    display: block;
    float: right;
}

